---
---
<div class="py-8 w-full bg-red-950 text-white">
    <div class="max-w-screen-xl mx-auto grid grid-cols-3 justify-items-center pb-8">
        <section>Footer</section>
        <section>Footer</section>
        <section>Footer</section>
    </div>
</div>

  